<!-- <div class="flex flex-wrap">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <app-card-line-chart></app-card-line-chart>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <app-card-bar-chart></app-card-bar-chart>
  </div>
</div>
<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <app-card-page-visits></app-card-page-visits>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <app-card-social-traffic></app-card-social-traffic>
  </div>
</div> -->




<div class="flex flex-wrap">
  <div class="w-full lg:w-12/12 px-4">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">

      <div class="justify-center text-center flex flex-wrap mt-24">
        <div class="w-full md:w-6/12 px-12 md:px-4" style="margin-top: -30px;">
          <h2 class="font-semibold text-4xl"> Get the right API for your needs</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
    
            Try free trial to see real time results from our pre designs mock-ups
          </p>
        </div>
      </div>

    <div class="container mx-auto overflow-hidden">
      <div class="flex flex-wrap items-center" style="margin-top: 30px;">
        <div style="width: 100%; height: 300px; text-align:center;margin:0; padding:0;">
          <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
            [imageSize]="{width: '25%', height: 250}" slideImage="1" [imagePopup]="false" [infinite]="false"
            (imageClick)="imageClickHandler($event)"></ng-image-slider>
        </div>
      </div>
    </div>


  <!-- <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-blueGray-700 text-xl font-bold"> Aadhar Data Extraction </h6>
    </div>
  </div> -->
  <!-- <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form [formGroup]="bulkUploadForm" (ngSubmit)="onSubmitbulkUploadForm(bulkUploadForm.value)" novalidate> 
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Aadhar Data Information
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Upload File
            </label>
            <input
              type="file" placeholder="Upload CSV File" (change)="onFileChange($event)" formControlName="file"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value="lucky.jesse"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
  
          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <button
        class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="submit"
      >
        Submit
      </button>
            
          </div>
        </div>
      </div>

      <hr class="mt-6 border-b-1 border-blueGray-300" />


      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Result : {{CovidResult}}
      </h6>


      <hr class="mt-6 border-b-1 border-blueGray-300" />

    </form>
  </div> -->
</div>

  </div>
</div>
