
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs"> CREDITS USED TODAY </h5>
                  <span class="font-semibold text-xl text-blueGray-700"> 2,000 </span>
                </div><div class="relative w-auto pl-4 flex-initial">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg 
                  rounded-full bg-orange-500" ng-reflect-ng-class="bg-orange-500">
                  <i ng-reflect-ng-class="fas fa-chart-pie" class="fas fa-chart-pie"></i>
                </div></div></div>
                </div></div>

    
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs"> CREDITS USED TOTAL </h5>
                  <span class="font-semibold text-xl text-blueGray-700"> 2,000 </span>
                </div><div class="relative w-auto pl-4 flex-initial">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg 
                  rounded-full bg-orange-500" ng-reflect-ng-class="bg-orange-500">
                  <i ng-reflect-ng-class="fas fa-chart-pie" class="fas fa-chart-pie"></i>
                </div></div></div>
                </div></div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs"> API CALL TODAY </h5>
                  <span class="font-semibold text-xl text-blueGray-700"> 2 </span>
                </div><div class="relative w-auto pl-4 flex-initial">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg 
                  rounded-full bg-orange-500" ng-reflect-ng-class="bg-orange-500">
                  <i ng-reflect-ng-class="fas fa-chart-pie" class="fas fa-chart-pie"></i>
                </div></div></div>
                </div></div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs"> API CALL TOTAL </h5>
                  <span class="font-semibold text-xl text-blueGray-700"> 12 </span>
                </div><div class="relative w-auto pl-4 flex-initial">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg 
                  rounded-full bg-orange-500" ng-reflect-ng-class="bg-orange-500">
                  <i ng-reflect-ng-class="fas fa-percent" class="fas fa-chart-pie"></i>
                </div></div></div>
                </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
