<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <a
      [routerLink]="['/admin/dashboard']"
      class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
    >
      <span class="block sm:hidden"> AI MarketPlace </span>
      <span class="hidden sm:block"> AI MarketPlace </span>
    </a>
    <!-- User -->
    <ul class="md:hidden items-center flex flex-wrap list-none">
      <li class="inline-block relative">
        <app-notification-dropdown class="block"></app-notification-dropdown>
      </li>
      <li class="inline-block relative">
        <app-user-dropdown class="block"></app-user-dropdown>
      </li>
    </ul>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/admin/dashboard']"
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            >
            AI MarketPlace
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-6 mb-4 md:hidden">
        <div class="mb-3 pt-0">
          <input
            type="text"
            placeholder="Search"
            class="border-0 px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"
          />
        </div>
      </form>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Modules
      </h6>
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a
            [routerLink]="['/admin/aadhar']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminAdhar="routerLinkActive"
            [ngClass]="
              adminAdhar.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <i
              class="fas fa-table mr-2 text-sm"
              [ngClass]="
              adminAdhar.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Aadhar Data Extraction
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/pan']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminPan="routerLinkActive"
            [ngClass]="
            adminPan.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <i
              class="fas fa-table mr-2 text-sm"
              [ngClass]="
              adminPan.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            PAN Data Extraction
          </a>
        </li>

        <!-- <li class="items-center">
          <a
            [routerLink]="['/admin/tables']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminFacemask="routerLinkActive"
            [ngClass]="
            adminFacemask.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <i
              class="fas fa-table mr-2 text-sm"
              [ngClass]="
              adminFacemask.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Face Mask Detection
          </a>
        </li> -->
          
            <!-- <li class="items-center">
              <a
                [routerLink]="['/admin/tables']"
                class="text-xs uppercase py-3 font-bold block"
                routerLinkActive
                #adminGenderAge="routerLinkActive"
                [ngClass]="
                adminGenderAge.isActive
                    ? 'text-red-600 hover:text-red-700'
                    : 'text-blueGray-700 hover:text-blueGray-500'
                "
              >
                <i
                  class="fas fa-table mr-2 text-sm"
                  [ngClass]="
                  adminGenderAge.isActive ? 'opacity-75' : 'text-blueGray-300'
                  "
                ></i>
                Gender and Age Detection
              </a>
            </li> -->
            <!-- <li class="items-center">
              <a
                [routerLink]="['/admin/tables']"
                class="text-xs uppercase py-3 font-bold block"
                routerLinkActive
                #adminSocialDistance="routerLinkActive"
                [ngClass]="
                adminSocialDistance.isActive
                    ? 'text-red-600 hover:text-red-700'
                    : 'text-blueGray-700 hover:text-blueGray-500'
                "
              >
                <i
                  class="fas fa-table mr-2 text-sm"
                  [ngClass]="
                  adminSocialDistance.isActive ? 'opacity-75' : 'text-blueGray-300'
                  "
                ></i>
                Social Distancing
              </a>
            </li> -->
            <li class="items-center">
              <a
                [routerLink]="['/admin/covid']"
                class="text-xs uppercase py-3 font-bold block"
                routerLinkActive
                #adminCovid19="routerLinkActive"
                [ngClass]="
                adminCovid19.isActive
                    ? 'text-red-600 hover:text-red-700'
                    : 'text-blueGray-700 hover:text-blueGray-500'
                "
              >
                <i
                  class="fas fa-table mr-2 text-sm"
                  [ngClass]="
                  adminCovid19.isActive ? 'opacity-75' : 'text-blueGray-300'
                  "
                ></i>
                Covid-19 Detection
              </a>
            </li>
            <!-- <li class="items-center">
              <a
                [routerLink]="['/admin/tables']"
                class="text-xs uppercase py-3 font-bold block"
                routerLinkActive
                #adminGenericObj="routerLinkActive"
                [ngClass]="
                adminGenericObj.isActive
                    ? 'text-red-600 hover:text-red-700'
                    : 'text-blueGray-700 hover:text-blueGray-500'
                "
              >
                <i
                  class="fas fa-table mr-2 text-sm"
                  [ngClass]="
                  adminGenericObj.isActive ? 'opacity-75' : 'text-blueGray-300'
                  "
                ></i>
                Generic Object Detection
              </a>
            </li> -->
            <li class="items-center">
              <a
                [routerLink]="['/admin/carnoplate']"
                class="text-xs uppercase py-3 font-bold block"
                routerLinkActive
                #adminCarNumber="routerLinkActive"
                [ngClass]="
                adminCarNumber.isActive
                    ? 'text-red-600 hover:text-red-700'
                    : 'text-blueGray-700 hover:text-blueGray-500'
                "
              >
                <i
                  class="fas fa-table mr-2 text-sm"
                  [ngClass]="
                  adminCarNumber.isActive ? 'opacity-75' : 'text-blueGray-300'
                  "
                ></i>
                Car Number detection
              </a>
            </li>
      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />

      <a
      [routerLink]="['/admin/payment']"
      class="text-xs uppercase py-3 font-bold block"
      routerLinkActive
      #adminPayment="routerLinkActive"
      [ngClass]="
      adminPayment.isActive
          ? 'text-red-600 hover:text-red-700'
          : 'text-blueGray-700 hover:text-blueGray-500'
      "
    >
      <i
        class="fas fa-table mr-2 text-sm"
        [ngClass]="
        adminPayment.isActive ? 'opacity-75' : 'text-blueGray-300'
        "
      ></i>
      Payments
    </a>
    
      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <a
      [routerLink]="['/admin/contact']"
      class="text-xs uppercase py-3 font-bold block"
      routerLinkActive
      #adminContactUs="routerLinkActive"
      [ngClass]="
      adminContactUs.isActive
          ? 'text-red-600 hover:text-red-700'
          : 'text-blueGray-700 hover:text-blueGray-500'
      "
    >
      <i
        class="fas fa-table mr-2 text-sm"
        [ngClass]="
        adminContactUs.isActive ? 'opacity-75' : 'text-blueGray-300'
        "
      ></i>
      Contact Us
    </a>
     <!-- Divider -->
     <hr class="my-4 md:min-w-full" />
     <a
     [routerLink]="['/auth/login']"
     class="text-xs uppercase py-3 font-bold block"
     routerLinkActive
     #adminLogout="routerLinkActive"
     [ngClass]="
     adminLogout.isActive
         ? 'text-red-600 hover:text-red-700'
         : 'text-blueGray-700 hover:text-blueGray-500'
     "
   >
     <i
       class="fas fa-table mr-2 text-sm"
       [ngClass]="
       adminLogout.isActive ? 'opacity-75' : 'text-blueGray-300'
       "
     ></i>
     Logout
   </a>
    </div>
  </div>
</nav>
