<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        [routerLink]="['/']"
        class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        href="#pablo"
      >
      <img style="margin-top: -22px;"
    class="absolute"
    src="assets/img/ai_logo.png"
    alt="..."
  />
        <!-- AI Marketplace -->
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center"
      [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning"
    >
      <!-- <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-navbar"
          >
            <i
              class="text-blueGray-400 far fa-file-alt text-lg leading-lg mr-2"
            ></i>
            Docs
          </a>
        </li>
      </ul> -->
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <!-- <li class="flex items-center">
          <app-index-dropdown class="block"></app-index-dropdown>
        </li> -->
        <li class="flex items-center">
          <a
          
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
        >
          Home
        </a>
        </li>

        <li class="flex items-center">
          <a
          
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
        >
          AI Mock-ups
        </a>
        </li>

        <li class="flex items-center">
          <a
          
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
        >
          Custom Solutions
        </a>
        </li>

        <li class="flex items-center">
          <a
          
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
        >
          Pricing
        </a>
        </li>

        <li class="flex items-center">
          <a
          [routerLink]="['/auth/login']"
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
        >
          Sign In
        </a>
        </li>

        <li class="flex items-center">
          <button [routerLink]="['/auth/register']"
            class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
            type="button"
          >
          <i class="fas fa-arrow-alt-circle-add"></i> Sign Up
            <!-- <i class="fas fa-arrow-alt-circle-down"></i> Sign Up -->
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
