<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex homepage max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Face Mask Deduction
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Boost your apps using our pre-designed
          <a href="#" class="text-blueGray-600" target="_blank">
            AI
          </a>
          Mock-ups!
        </p>
        <div class="mt-12">
          <a [routerLink]="['/auth/register']"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
            Start Free Now
          </a>
          <!-- <a
            href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank"
          >
            Github Star
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <img class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/A-man-wearing-medical-mask-premium-vector-PNG.png" alt="..." />
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div class="justify-center text-center flex flex-wrap mt-24">
    <div class="w-full md:w-6/12 px-12 md:px-4" style="margin-top: 30px;">
      <h2 class="font-semibold text-4xl"> Get the right API for your needs</h2>
      <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">

        Try free trial to see real time results from our pre designs mock-ups
      </p>
    </div>
  </div>
  <div class="container mx-auto overflow-hidden">
    <div class="flex flex-wrap items-center" style="margin-top: 30px;">
      <div style="width: 100%; height: 300px; text-align:center;margin:0; padding:0;">
        <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
          [imageSize]="{width: '25%', height: 250}" slideImage="1" [imagePopup]="false" [infinite]="false"
          (imageClick)="imageClickHandler($event)"></ng-image-slider>
      </div>
    </div>
  </div>

  <div class="container mx-auto overflow-hidden pb-20">
    <h6 class="font-semibold" style="margin-bottom: 20px;margin-left: 10px;" *ngIf="ModelHeaderTxt">Selected API for free try</h6>
    <!-- Covid Detection -->
    <div class="flex flex-wrap items-center" *ngIf="CovidReportDiv">
       <!-- division 1 -->
      <div class="w-full md:w-6/12 lg:w-3/12">
        <div class="" style="background-color: #fff;margin: 10px;">
          <img
            alt="..."
            src="assets/img/slider/covid1.jpeg"
            class=""
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Covid-19 Detection</h5>
            <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
              Used to predict whether the patient is covid positive or negative 
              based on the x-ray image uploaded. Based on the appropriate results, 
              patients can consult the doctor for further medication.
            </p>
            <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
              <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
              class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
              View all
              <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
            </a>
            </div>
          </div>
        </div>
      </div>
      <!-- division 2 -->
      <div class="w-full md:w-6/12 lg:w-3/12">
        <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: -5px;margin-bottom: 5px;">
          <form [formGroup]="bulkUploadForm" (ngSubmit)="onSubmitbulkUploadForm(bulkUploadForm.value)" novalidate>
            
            <div class="flex flex-wrap">
              <div class="pt-6 text-center">
                <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
              </div>
              <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
                  <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                    Upload File
                  </label>
                  <input type="file" placeholder="Upload File" (change)="onFileChange($event)" formControlName="file"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    value="" />
                  </div>
                    <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
                  <button
                    class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                    type="submit">
                    Submit
                  </button>
              </div>
              <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
                  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
                </div>
            </div>
          </form>
        </div>
      </div>

      <!-- division 3 -->
      <div class="w-full md:w-6/12 lg:w-3/12">
        <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: -5px;margin-bottom: 5px;">
          <div class="flex flex-wrap">
            <div class="pt-6 text-center">
              <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
            </div>

            <div *ngIf="CovidReportScore">
              <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
              </div>
              <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase" style="text-align: left;padding: 0px 0px 10px 20px;">
                Result : {{CovidResult}}
              </h6>
              <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase" style="text-align: left;padding: 0px 0px 10px 20px;">
                Score : {{CovidScore}}
              </h6>
            </div>
            </div>
        </div>
      </div>
 
      <!-- division 4 -->
      <div class="w-full md:w-6/12 lg:w-3/12">
        <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: -5px;margin-bottom: 5px;color: white;">
          <div class="flex flex-wrap">
            <div class="pt-6 text-center">
              <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
            </div>

            <div *ngIf="CovidReportScore">
              <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
                 {{CovidResultJsonRes}}
              </p>
            </div>
            </div>
        </div>
      </div>


    </div>

<!-- Aadhar Detection -->
<div class="flex flex-wrap items-center" *ngIf="AadharDiv">
  <!-- division 1 -->
 <div class="w-full md:w-6/12 lg:w-3/12">
   <div class="" style="background-color: #fff;margin: 10px;height: 450px">
     <img
       alt="..."
       src="assets/img/slider/Mask_Group_58.jpg"
       class=""
     />
     <div class="pt-6 text-center">
       <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Aadhar Extraction</h5>
       <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
        Used to extract the Aadhar card and other information from the aadhar card image uploaded.
       </p>
       <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
         <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
         class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
         View all
         <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
       </a>
       </div>
     </div>
   </div>
 </div>
 <!-- division 2 -->
 <div class="w-full md:w-6/12 lg:w-3/12">
   <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
     <form [formGroup]="bulkUploadFormAadhar" (ngSubmit)="onSubmitbulkUploadFormAadhar(bulkUploadFormAadhar.value)" novalidate>
       
       <div class="flex flex-wrap">
         <div class="pt-6 text-center">
           <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
         </div>
         <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
             <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
               Upload File
             </label>
             <input type="file" placeholder="Upload File" (change)="onFileChangeAadhar($event)" formControlName="fileAadhar"
               class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
               value="" />
             </div>
               <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
             <button
               class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
               type="submit">
               Submit
             </button>
         </div>
         <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
             <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
           </div>
       </div>
     </form>
   </div>
 </div>

 <!-- division 3 -->
 <div class="w-full md:w-6/12 lg:w-3/12">
   <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
     <div class="flex flex-wrap">
       <div class="pt-6 text-center">
         <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
       </div>

       <div *ngIf="AadharReportRes">
         <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
           <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
         </div>
         
         <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
              style="color: rgba(220, 38, 38, var(--tw-bg-opacity));"style="text-align: left;padding: 0px 0px 10px 20px;">
              Result :
            </h6>
            <p style="text-align: left;padding: 0px 0px 10px 20px;">
              Name : {{AadharResName}} <br>
              Aadhar Number : {{AadharResNo}} <br>
              DateofBirth : {{AadharResDOB}} <br>
            </p>
       </div>
       </div>
   </div>
 </div>

 <!-- division 4 -->
 <div class="w-full md:w-6/12 lg:w-3/12">
   <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;color: white;">
     <div class="flex flex-wrap">
       <div class="pt-6 text-center">
         <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
       </div>

       <div *ngIf="AadharReportRes">
         <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
            {{AadharResultJsonRes}}
         </p>
       </div>
       </div>
   </div>
 </div>


</div>



    <!-- Pan Card Detection -->

    <div class="flex flex-wrap items-center" *ngIf="PanCardDiv">
      <!-- division 1 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px;height: 450px">
         <img
           alt="..."
           src="assets/img/slider/Mask_Group_56.jpg"
           class=""
         />
         <div class="pt-6 text-center">
           <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Pancard Extraction</h5>
           <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
            Used to extract the pan card number and other details from the pancard image uploaded.
           </p>
           <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
             <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
             class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
             View all
             <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
           </a>
           </div>
         </div>
       </div>
     </div>
     <!-- division 2 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <form [formGroup]="bulkUploadFormPan" (ngSubmit)="onSubmitbulkUploadFormPan(bulkUploadFormPan.value)" novalidate>
           
           <div class="flex flex-wrap">
             <div class="pt-6 text-center">
               <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
                 <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                   Upload File
                 </label>
                 <input type="file" placeholder="Upload File" (change)="onFileChangePan($event)" formControlName="filePan"
                   class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                   value="" />
                 </div>
                   <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
                 <button
                   class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                   type="submit">
                   Submit
                 </button>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
                 <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
               </div>
           </div>
         </form>
       </div>
     </div>
    
     <!-- division 3 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
           </div>
    
           <div *ngIf="PanReportRes">
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
               <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
             </div>
             
             <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
                  style="color: rgba(220, 38, 38, var(--tw-bg-opacity));"style="text-align: left;padding: 0px 0px 10px 20px;">
                  Result :
                </h6>
                <p style="text-align: left;padding: 0px 0px 10px 20px;">
                  Name : {{PanResName}} <br>
              PanCard Number : {{PanResNo}} <br>
              DateofBirth : {{PanResDOB}} <br>
                </p>
           </div>
           </div>
       </div>
     </div>
    
     <!-- division 4 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;color: white;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
           </div>
    
           <div *ngIf="PanReportRes">
             <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
                {{PanResultJsonRes}}
             </p>
           </div>
           </div>
       </div>
     </div>
    
    
    </div>



    <!-- Car number Detection -->

    <div class="flex flex-wrap items-center" *ngIf="CarnoDiv">
      <!-- division 1 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px;height: 450px">
         <img
           alt="..."
           src="assets/img/slider/vehicle.jpeg"
           class=""
         />
         <div class="pt-6 text-center">
           <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Car Number Extraction</h5>
           <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
            Used to capture the registration number of the vehicle for identification purposes.
           </p>
           <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
             <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
             class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
             View all
             <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
           </a>
           </div>
         </div>
       </div>
     </div>
     <!-- division 2 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <form [formGroup]="bulkUploadFormCarno" (ngSubmit)="onSubmitbulkUploadFormCarno(bulkUploadFormCarno.value)" novalidate>
           
           <div class="flex flex-wrap">
             <div class="pt-6 text-center">
               <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
                 <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                   Upload File
                 </label>
                 <input type="file" placeholder="Upload File" (change)="onFileChangeCarno($event)" formControlName="fileCarno"
                   class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                   value="" />
                 </div>
                   <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
                 <button
                   class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                   type="submit">
                   Submit
                 </button>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
                 <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
               </div>
           </div>
         </form>
       </div>
     </div>
    
     <!-- division 3 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
           </div>
    
           <div *ngIf="CarnoReportRes">
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
               <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
             </div>
             
             <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
                  style="color: rgba(220, 38, 38, var(--tw-bg-opacity));"style="text-align: left;padding: 0px 0px 10px 20px;">
                  Result :
                </h6>
                <p style="text-align: left;padding: 0px 0px 10px 20px;">
                   {{CarnoRes}} <br>
                </p>
           </div>
           </div>
       </div>
     </div>
    
     <!-- division 4 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;color: white;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
           </div>
    
           <div *ngIf="CarnoReportRes">
             <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
                {{CarnoResultJsonRes}}
             </p>
           </div>
           </div>
       </div>
     </div>
    
    
    </div>


    <!-- Passport Extraction -->

    <div class="flex flex-wrap items-center" *ngIf="PassportDiv">
      <!-- division 1 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px;height: 450px">
         <img
           alt="..."
           src="assets/img/slider/passport.jpg"
           class=""
         />
         <div class="pt-6 text-center">
           <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Passport Data Extraction</h5>
           <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
            Used  to extract the information like passport number, name and expiry date of the passport from the image uploaded.
           </p>
           <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
             <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
             class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
             View all
             <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
           </a>
           </div>
         </div>
       </div>
     </div>
     <!-- division 2 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <form [formGroup]="bulkUploadFormPassport" (ngSubmit)="onSubmitbulkUploadFormPassport(bulkUploadFormPassport.value)" novalidate>
           
           <div class="flex flex-wrap">
             <div class="pt-6 text-center">
               <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
                 <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                   Upload File
                 </label>
                 <input type="file" placeholder="Upload File" (change)="onFileChangePassport($event)" formControlName="filePassport"
                   class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                   value="" />
                 </div>
                   <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
                 <button
                   class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                   type="submit">
                   Submit
                 </button>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
                 <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
               </div>
           </div>
         </form>
       </div>
     </div>
    
     <!-- division 3 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
           </div>
    
           <div *ngIf="PassportReportRes">
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
               <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
             </div>
             
             <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
                  style="color: rgba(220, 38, 38, var(--tw-bg-opacity));"style="text-align: left;padding: 0px 0px 0px 20px;">
                  Result :
                </h6>
                <p style="text-align: left;padding: 0px 0px 10px 20px;">
                   Name : {{PassportRes.Name}} <br>
                   Passportnumber : {{PassportRes.Passportnumber}} <br>
                   Dateofbirth : {{PassportRes.Dateofbirth}} <br>
                   Startdate : {{PassportRes.Startdate}} <br>
                   Enddate : {{PassportRes.Enddate}} <br>
                </p>
           </div>
           </div>
       </div>
     </div>
    
     <!-- division 4 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;color: white;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
           </div>
    
           <div *ngIf="PassportReportRes">
             <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
                {{PassportResultJsonRes}}
             </p>
           </div>
           </div>
       </div>
     </div>
    
    
    </div>


    <!-- Cheque Extraction -->

    <div class="flex flex-wrap items-center" *ngIf="ChequeDiv">
      <!-- division 1 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px;height: 450px">
         <img
           alt="..."
           src="assets/img/slider/cheque.jpg"
           class=""
         />
         <div class="pt-6 text-center">
           <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Cheque Number Extraction</h5>
           <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
            Used  to extract the MICR formatted cheque number from the cheque leaf image uploaded.
           </p>
           <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
             <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
             class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
             View all
             <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
           </a>
           </div>
         </div>
       </div>
     </div>
     <!-- division 2 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <form [formGroup]="bulkUploadFormCheque" (ngSubmit)="onSubmitbulkUploadFormCheque(bulkUploadFormCheque.value)" novalidate>
           
           <div class="flex flex-wrap">
             <div class="pt-6 text-center">
               <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
                 <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                   Upload File
                 </label>
                 <input type="file" placeholder="Upload File" (change)="onFileChangeCheque($event)" formControlName="fileCheque"
                   class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                   value="" />
                 </div>
                   <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
                 <button
                   class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                   type="submit">
                   Submit
                 </button>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
                 <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
               </div>
           </div>
         </form>
       </div>
     </div>
    
     <!-- division 3 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
           </div>
    
           <div *ngIf="ChequeReportRes">
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
               <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
             </div>
             
             <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
                  style="color: rgba(220, 38, 38, var(--tw-bg-opacity));"style="text-align: left;padding: 0px 0px 0px 20px;">
                  Result :
                </h6>
                <p style="text-align: left;padding: 0px 0px 10px 20px;">
                  {{ChequeRes}} <br>
                </p>
           </div>
           </div>
       </div>
     </div>
    
     <!-- division 4 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;color: white;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
           </div>
    
           <div *ngIf="ChequeReportRes">
             <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
                {{ChequeResultJsonRes}}
             </p>
           </div>
           </div>
       </div>
     </div>
    
    
    </div>


    <!-- Driving License Extraction -->

    <div class="flex flex-wrap items-center" *ngIf="DrivingLicDiv">
      <!-- division 1 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px;height: 450px">
         <img
           alt="..."
           src="assets/img/slider/drivinglicense.jpg"
           class=""
         />
         <div class="pt-6 text-center">
           <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Driving license Data Extraction</h5>
           <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
            Used  to extract the driver’s license number, name, license issue date and expiry of the license  from the image uploaded.
           </p>
           <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
             <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
             class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
             View all
             <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
           </a>
           </div>
         </div>
       </div>
     </div>
     <!-- division 2 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <form [formGroup]="bulkUploadFormCheque" (ngSubmit)="onSubmitbulkUploadFormCheque(bulkUploadFormCheque.value)" novalidate>
           
           <div class="flex flex-wrap">
             <div class="pt-6 text-center">
               <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
                 <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                   Upload File
                 </label>
                 <input type="file" placeholder="Upload File" (change)="onFileChangeCheque($event)" formControlName="fileCheque"
                   class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                   value="" />
                 </div>
                   <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
                 <button
                   class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                   type="submit">
                   Submit
                 </button>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
                 <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
               </div>
           </div>
         </form>
       </div>
     </div>
    
     <!-- division 3 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
           </div>
    
           <div *ngIf="DrivingLicReportRes">
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
               <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
             </div>
             
             <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
                  style="color: rgba(220, 38, 38, var(--tw-bg-opacity));"style="text-align: left;padding: 0px 0px 0px 20px;">
                  Result :
                </h6>
                <p style="text-align: left;padding: 0px 0px 10px 20px;">
                  Name : {{DrivingLicRes.Name}} <br>
                  DLNO : {{DrivingLicRes.DLNO}} <br>
                  Dateofbirth : {{DrivingLicRes.Dateofbirth}} <br>
                </p>
           </div>
           </div>
       </div>
     </div>
    
     <!-- division 4 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;color: white;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
           </div>
    
           <div *ngIf="DrivingLicReportRes">
             <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
                {{DrivingLicResultJsonRes}}
             </p>
           </div>
           </div>
       </div>
     </div>
    
    
    </div>


    <!-- Driving License Extraction -->

    <div class="flex flex-wrap items-center" *ngIf="VoterDiv">
      <!-- division 1 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px;height: 450px">
         <img
           alt="..."
           src="assets/img/slider/voterid.jpeg"
           class=""
         />
         <div class="pt-6 text-center">
           <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Voterid Data Extraction</h5>
           <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
            Used  to extract the information like voter id, name of the elector from the image uploaded.
           </p>
           <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
             <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
             class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
             View all
             <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
           </a>
           </div>
         </div>
       </div>
     </div>
     <!-- division 2 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <form [formGroup]="bulkUploadFormCheque" (ngSubmit)="onSubmitbulkUploadFormCheque(bulkUploadFormCheque.value)" novalidate>
           
           <div class="flex flex-wrap">
             <div class="pt-6 text-center">
               <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
                 <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                   Upload File
                 </label>
                 <input type="file" placeholder="Upload File" (change)="onFileChangeCheque($event)" formControlName="fileCheque"
                   class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                   value="" />
                 </div>
                   <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
                 <button
                   class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                   type="submit">
                   Submit
                 </button>
             </div>
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
                 <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
               </div>
           </div>
         </form>
       </div>
     </div>
    
     <!-- division 3 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
           </div>
    
           <div *ngIf="VoterReportRes">
             <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
               <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
             </div>
             
             <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
                  style="color: rgba(220, 38, 38, var(--tw-bg-opacity));"style="text-align: left;padding: 0px 0px 0px 20px;">
                  Result :
                </h6>
                <p style="text-align: left;padding: 0px 0px 10px 20px;">
                  Name : {{VoterRes.Name}} <br>
                  VoterID : {{VoterRes.voterid}} <br>
                </p>
           </div>
           </div>
       </div>
     </div>
    
     <!-- division 4 -->
     <div class="w-full md:w-6/12 lg:w-3/12">
       <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: 0px;margin-bottom: 5px;color: white;">
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
           </div>
    
           <div *ngIf="VoterReportRes">
             <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
                {{VoterResultJsonRes}}
             </p>
           </div>
           </div>
       </div>
     </div>
    
    
    </div>



    <!-- <div class="flex flex-wrap items-center pt-32">
      <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-32">
        <div class="justify-center flex flex-wrap relative">
          <div class="my-4 w-full lg:w-6/12 px-4">
            <a href="https://www.creative-tim.com/learning-lab/tailwind/svelte/alerts/notus?ref=vtw-index"
              target="_blank">
              <div class="bg-red-600 shadow-lg rounded-lg text-center p-8">
                <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/svelte.jpg" />
                <p class="text-lg text-white mt-4 font-semibold">Svelte</p>
              </div>
            </a>
            <a href="https://www.creative-tim.com/learning-lab/tailwind/react/alerts/notus?ref=vtw-index"
              target="_blank">
              <div class="bg-lightBlue-500 shadow-lg rounded-lg text-center p-8 mt-8">
                <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/react.jpg" />
                <p class="text-lg text-white mt-4 font-semibold">ReactJS</p>
              </div>
            </a>
            <a href="https://www.creative-tim.com/learning-lab/tailwind/nextjs/alerts/notus?ref=vtw-index"
              target="_blank">
              <div class="bg-blueGray-700 shadow-lg rounded-lg text-center p-8 mt-8">
                <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/nextjs.jpg" />
                <p class="text-lg text-white mt-4 font-semibold">NextJS</p>
              </div>
            </a>
          </div>
          <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
            <a href="https://www.creative-tim.com/learning-lab/tailwind/js/alerts/notus?ref=vtw-index" target="_blank">
              <div class="bg-yellow-500 shadow-lg rounded-lg text-center p-8">
                <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/js.png" />
                <p class="text-lg text-white mt-4 font-semibold">JavaScript</p>
              </div>
            </a>
            <a href="https://www.creative-tim.com/learning-lab/tailwind/angular/alerts/notus?ref=vtw-index"
              target="_blank">
              <div class="bg-red-700 shadow-lg rounded-lg text-center p-8 mt-8">
                <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/angular.jpg" />
                <p class="text-lg text-white mt-4 font-semibold">Angular</p>
              </div>
            </a>
            <a href="https://www.creative-tim.com/learning-lab/tailwind/vue/alerts/notus?ref=vtw-index" target="_blank">
              <div class="bg-emerald-500 shadow-lg rounded-lg text-center p-8 mt-8">
                <img alt="..." class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/vue.jpg" />
                <p class="text-lg text-white mt-4 font-semibold">Vue.js</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
          <i class="fas fa-drafting-compass text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Javascript Components
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
          In order to create a great User Experience some components require
          JavaScript. In this way you can manipulate the elements on the page
          and give more options to your users.
        </p>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
          We created a set of Components that are dynamic and come to help you.
        </p>
        <div class="block pb-6">
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            Alerts
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            Dropdowns
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            Menus
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            Modals
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            Navbars
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            Popovers
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            Tabs
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            Tooltips
          </span>
        </div>
        <a href="https://www.creative-tim.com/learning-lab/tailwind/angular/alerts/notus?ref=na-index-page"
          target="_blank"
          class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
          View all
          <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i>
        </a>
      </div>
    </div> -->
  </div>

  <!-- <div class="container mx-auto px-4 pb-32 pt-48">
    <div class="items-center flex flex-wrap"> -->
      <!-- <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
        <div class="md:pr-12">
          <div
            class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
            <i class="fas fa-file-alt text-xl"></i>
          </div>
          <h3 class="text-3xl font-semibold">Complex Documentation</h3>
          <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
            This extension comes a lot of fully coded examples that help you get
            started faster. You can adjust the colors and also the programming
            language. You can change the text and images and you're good to go.
          </p>
          <ul class="list-none mt-6">
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-fingerprint"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Built by Developers for Developers
                  </h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fab fa-html5"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Carefully crafted code for Components
                  </h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="far fa-paper-plane"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Dynamic Javascript Components
                  </h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
        <img alt="..." class="max-w-full rounded-lg shadow-xl" style="
            transform: scale(1) perspective(1040px) rotateY(-11deg)
              rotateX(2deg) rotate(2deg);
          " src="assets/img/documentation.png" />
      </div> -->
    <!-- </div>
  </div> -->

  <!-- <div class="justify-center text-center flex flex-wrap mt-24">
    <div class="w-full md:w-6/12 px-12 md:px-4">
      <h2 class="font-semibold text-4xl">Beautiful Example Pages</h2>
      <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
        Notus Angular is a completly new product built using our past experience
        in web templates. Take the examples we made for you and start playing
        with them.
      </p>
    </div>
  </div> -->
</section>

<section class="block relative z-1 bg-blueGray-600">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <!-- <div class="w-full lg:w-12/12 px-4 -mt-24">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">Login Page</h5>
            <a [routerLink]="['/auth/login']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/login.jpg" />
              </div>
            </a>
          </div>

          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">Profile Page</h5>
            <a [routerLink]="['/profile']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/profile.jpg" />
              </div>
            </a>
          </div>

          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">Landing Page</h5>
            <a [routerLink]="['/landing']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/landing.jpg" />
              </div>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- <section class="py-20 bg-blueGray-600 overflow-hidden">
  <div class="container mx-auto pb-64"> -->
    <!-- <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
          <i class="fas fa-code-branch text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
          Open Source
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-400">
          Since
          <a href="https://tailwindcss.com/?ref=creativetim" class="text-blueGray-300" target="_blank">
            Tailwind CSS
          </a>
          is an open source project we wanted to continue this movement too. You
          can give this version a try to feel the design and also test the
          quality of the code!
        </p>
        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-400">
          Get it free on Github and please help us spread the news with a Star!
        </p>
        <a href="https://github.com/creativetimofficial/notus-angular?ref=creativetim" target="_blank"
          class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
          Github Star
        </a>
      </div>

      <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative">
        <i class="fab fa-github text-blueGray-700 text-55 absolute -top-150-px -right-100 left-auto opacity-80"></i>
      </div>
    </div> -->
  <!-- </div>
</section> -->

<section class="pb-16 bg-blueGray-200 relative pt-32">
  <!-- <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div> -->

  <div class="container mx-auto">
    <div class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10" style="    background-image: url('assets/img/Group_678.jpg');color:#fff">
      <div class="w-full text-center lg:w-8/12">
        <p class="text-4xl text-center">
          <!-- <span role="img" aria-label="love"> 😍 </span> -->
        </p>
        <h3 class="font-semibold text-3xl">Have any queries?</h3>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4" style="color: #fff;">
         Speak with us!
        </p>
        <div class="relative w-full mb-3">
          <!-- <label
            class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
            htmlFor="email"
          >
            Email
          </label> -->
          <input
            type="email"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="Email"
          />
        </div>
        <div class="text-center mt-6">
          <button
            class="bg-red-600 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
          >
            Send Message
          </button>
        </div>
        <!-- <div class="sm:block flex flex-col mt-10">
          <a href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
            target="_blank"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-2 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
            Get started
          </a>
          <a href="https://github.com/creativetimofficial/notus-angular?ref=creativetim" target="_blank"
            class="github-star sm:ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
            <i class="fab fa-github text-lg mr-1"></i>
            <span>Help With a Star</span>
          </a>
        </div> -->
        <div class="text-center mt-16"></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>