<div class="flex flex-wrap">
    <div class="w-full lg:w-12/12 px-4">
      <div class="relative flex  min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0" style="padding: 50px;">
  
        <div class="columns">
            <ul class="price">
              <li class="header">Free</li>
              <li class="grey">$ 0 / year</li>
              <li>Free Plan</li>
              <li>5 API Call / Second</li>
              <li>Unlimited Credit</li>
              <li>Community Support</li>
              <li class="grey"><a href="#" class="button">Get API KEY</a></li>
            </ul>
          </div>
          
          <div class="columns">
            <ul class="price">
              <li class="header" style="background-color:#04AA6D">Basic</li>
              <li class="grey">$ 24.99 / year</li>
              <li>Basic Plan</li>
              <li>100 API Call / Second</li>
              <li>Unlimited Credit</li>
              <li>Community Support</li>
              <li class="grey"><a href="#" class="button">Get API KEY</a></li>
            </ul>
          </div>
          
          <div class="columns">
            <ul class="price">
              <li class="header">Advanced</li>
              <li class="grey">$ 49.99 / year</li>
              <li>Advanced Plan</li>
              <li>200 API Call / Second</li>
              <li>Unlimited Credit</li>
              <li>Community Support</li>
              <li class="grey"><a href="#" class="button">Get API KEY</a></li>
            </ul>
          </div>
        
  
      
  
  </div>
  
    </div>
  </div>
  