<div class="flex flex-wrap">
    <div class="w-full lg:w-12/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
  
  
    <div class="rounded-t bg-white mb-0 px-6 py-6">
      <div class="text-center flex justify-between">
        <h6 class="text-blueGray-700 text-xl font-bold"> Covid Data Extraction </h6>
      </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
      
  <!-- Covid Detection -->
  <div class="flex flex-wrap items-center" >
    <!-- division 1 -->
   <div class="w-full md:w-6/12 lg:w-3/12">
     <div class="" style="background-color: #fff;margin: 10px;">
       <img
         alt="..."
         src="assets/img/slider/covid1.jpeg"
         class=""
       />
       <div class="pt-6 text-center">
         <h5 class="text-xl font-bold" style="text-align: left;padding: 0px 0px 10px 20px;">Covid-19 Detection</h5>
         <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold" style="text-align: left;padding: 0px 10px 10px 20px;">
           Used to predict whether the patient is covid positive or negative 
           based on the x-ray image uploaded. Based on the appropriate results, 
           patients can consult the doctor for further medication.
         </p>
         <div class="" style="margin-bottom: 20px;text-align: left;padding-bottom: 10px;">
           <a href="#" style="color: rgba(220, 38, 38, var(--tw-bg-opacity));padding: 0px 0px 10px 20px;"
           class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
           View all
           <i class="fa fa-angle-right ml-1 leading-relaxed" ></i>
         </a>
         </div>
       </div>
     </div>
   </div>
   <!-- division 2 -->
   <div class="w-full md:w-6/12 lg:w-3/12">
     <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: -5px;margin-bottom: 5px;">
       <form [formGroup]="bulkUploadForm" (ngSubmit)="onSubmitbulkUploadForm(bulkUploadForm.value)" novalidate>
         
         <div class="flex flex-wrap">
           <div class="pt-6 text-center">
             <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Input</h6>
           </div>
           <div class="pt-6 text-center" style="text-align: left;padding: 0px 20px 10px 20px;">
               <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                 Upload File
               </label>
               <input type="file" placeholder="Upload File" (change)="onFileChange($event)" formControlName="file"
                 class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                 value="" />
               </div>
                 <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;width: 100%;">
               <button
                 class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                 type="submit">
                 Submit
               </button>
           </div>
           <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
               <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
             </div>
         </div>
       </form>
     </div>
   </div>

   <!-- division 3 -->
   <div class="w-full md:w-6/12 lg:w-3/12">
     <div class="" style="background-color: #fff;margin: 10px; height: 450px;margin-top: -5px;margin-bottom: 5px;">
       <div class="flex flex-wrap">
         <div class="pt-6 text-center">
           <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Ouput</h6>
         </div>

         <div *ngIf="CovidReportScore">
           <div class="pt-6 text-center" style="text-align: left;padding: 0px 0px 10px 20px;">
             <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:230px">
           </div>
           <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase" style="text-align: left;padding: 0px 0px 10px 20px;">
             Result : {{CovidResult}}
           </h6>
           <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase" style="text-align: left;padding: 0px 0px 10px 20px;">
             Score : {{CovidScore}}
           </h6>
         </div>
         </div>
     </div>
   </div>

   <!-- division 4 -->
   <div class="w-full md:w-6/12 lg:w-3/12">
     <div class="" style="background-color: #294a8c;margin: 10px; height: 450px;margin-top: -5px;margin-bottom: 5px;color: white;">
       <div class="flex flex-wrap">
         <div class="pt-6 text-center">
           <h6 class="font-semibold" style="text-align: left;padding: 0px 0px 10px 20px;">Json Response</h6>
         </div>

         <div *ngIf="CovidReportScore">
           <p class="text-blueGray-400 text-sm mt-3 mb-6 " style="margin: 10px;overflow-wrap: anywhere;">
              {{CovidResultJsonRes}}
           </p>
         </div>
         </div>
     </div>
   </div>


 </div>




    </div>
  </div>
  
    </div>
  </div>